@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,wght@0,700;0,900;1,700&family=Lexend+Deca:wght@100;400&family=Red+Hat+Display:wght@500&family=Roboto&display=swap');
@import './reset.css';

body {
  background-image: url(../pictures/bgQuote.jpg);
  background-size: cover;
  position: relative;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  .quote {
    font-size: 24px;
    font-family: 'Fraunces', serif;
    color: rgb(114, 110, 110);
    margin-top: 0px;
    padding: 30px;
    border-radius: 70px 10px 70px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .author {
    font-style: italic;
    margin-top: 20px;
    color: rgb(114, 110, 110);
    font-size: 18px;
  }

  .section-button {
    font-family: 'Barlow', serif;
    background-color: #cdb3a6;
    border: none;
    color: rgb(114, 110, 110);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 100px auto;
    display: block;
    cursor: pointer;
    border-radius: 25% 10%;
    box-shadow: 4 0 4px 8px 0 rgba(34, 33, 31, 0.4);
    transition: 0.3s ease;

    &:hover {
      color: #fff;
      background-color: #b99c8e;
    }
  }

  @media only screen and (max-width: 600px) {
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-position: center top;
    background-size: cover;

    .quote {
      font-size: 18px;
      padding: 20px;
      border-radius: 50px;
      max-width: 100%;
    }

    .section-button {
      font-size: 16px;
      margin: 50px auto;
      max-width: 100%;
    }
  }
}